.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#0f172a;
color:white;
position:sticky;
top:0;
z-index:100;
}

.logo{
font-size:24px;
}

.navbar ul{
display:flex;
gap:20px;
list-style:none;
transition: all 0.3s ease;
}

.navbar a{
color:white;
text-decoration:none;
}

.navbar a:hover{
color:#38bdf8;
}

/* HAMBURGUESA OCULTA EN DESKTOP */
.hamburger{
display:none;
font-size:28px;
cursor:pointer;
}

/* MOBILE */
@media(max-width:768px){

.navbar{
flex-direction:row; /* 👈 importante */
}

/* menú oculto */
.navbar ul{
position:absolute;
top:70px;
left:0;
width:100%;
background:#0f172a;
flex-direction:column;
align-items:center;
display:none;
padding:20px 0;
}

/* cuando se abre */
.navbar ul.active{
display:flex;
}

/* botón hamburguesa visible */
.hamburger{
display:block;
}

}